<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Some website</title
  </head>
  <body>
    <h1>{{aboutTitle}}</h1>
    <p>Under construction</p>
  </body>
  {{> footer}} <!--Referencing a partial -->
</html>
