<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Some website</title
  </head>
  <body>
    <h1>Under maintenance</h1>
    <p>Our web site is under maintenance. We'll be back soon.</p>
  </body>
  {{> footer}} <!--Referencing a partial -->
</html>
