<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Some website</title
  </head>
  <body>
    {{> header}}
    <p>TODO: Project list</p>
  </body>
  {{> footer}} <!--Referencing a partial -->
</html>
